@import 'swiper/css';
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/lazy";

.swiper-button-next, .swiper-button-prev {
    width: 15%;
    height: 100%;
    top: 20px;
    right: 0;
    color: #fff;
    opacity: .5;
    transition: opacity .15s ease;
    visibility: collapse;

    &::after {
        font-size: 2rem;
    }

    &:hover {
        opacity: 1;
    }
}

.swiper-pagination-bullet {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    -webkit-text-indent: -999px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-pagination {
    padding-left: 5%;
    text-align: left;
}

@screen lg {
    .swiper-button-next, .swiper-button-prev {
        visibility: visible;
    }

    .swiper-pagination {
        padding-left: 0%;
        text-align: center;
    }

    .swiper-pagination-bullet {
        width: 30px;
    }

}